{% extends "base.html" %}
{% block title %}Forgot Password - Tamermap.com{% endblock %}
{% block content %}
<div class="page-content">
  <h1 class="center">Forgot Your Password?</h1>
  <div class="form-container">
    <form method="POST">
      {{ forgot_password_form.hidden_tag() }}
      <p><strong>Please enter your email address below to request a password reset link.</strong></p>
      <div>
        <label for="email">{{ forgot_password_form.email.label }}</label>
        {{ forgot_password_form.email(placeholder="Enter your email", id="email") }}
      </div>
      <button type="submit">Send Reset Link</button>
    </form>
    <div class="options">
      <a href="{{ url_for('security.login') }}">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}
