{% extends "base.html" %}
{% block title %}Login - Tamermap.com{% endblock %}
{% block content %}
<div class="page-content">
  <h1 class="center">Login</h1>
  <div class="form-container">
    {% if login_user_form.errors %}
      <div class="error-messages">
        <ul>
          {% for field, errors in login_user_form.errors.items() %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form action="{{ url_for('security.login') }}" method="POST">
      {{ login_user_form.hidden_tag() }}
      <div>
        <label for="login-email">{{ login_user_form.email.label.text }}</label>
        {{ login_user_form.email(placeholder="Enter your email", id="login-email") }}
      </div>
      <div>
        <label for="login-password">{{ login_user_form.password.label.text }}</label>
        {{ login_user_form.password(placeholder="Enter your password", id="login-password") }}
      </div>
      {% if login_user_form.remember %}
      <div style="display: flex; align-items: flex-start; margin-top: 10px;">
        <!-- Checkbox section -->
        <div>
          {{ login_user_form.remember() }}
        </div>
        <!-- Label and warning text -->
        <div style="margin-left: 10px;">
          <strong>Remember Me</strong>
          <div style="font-size: 0.9em; color: #666; margin-top: 5px;">
            Checking this will keep you logged in on this device for an extended period (14 days).
            <strong>Do not use this option on shared or public computers</strong>.
          </div>
        </div>
      </div>
      {% endif %}
      <button type="submit">Login</button>
    </form>
    <div style="display: flex; justify-content: space-evenly; align-items: center; margin-top: 20px;">
      <a href="{{ url_for('security.forgot_password') }}">Forgot your password?</a>
      <a href="{{ url_for('public.learn') }}">Ready to go Pro?</a>
      <a href="{{ url_for('public.send_message', type='support') }}">Problems logging in?</a>
    </div>
  </div>
</div>
{% endblock %}
