{% extends "base.html" %}
{% block title %}Reset Password - Tamermap.com{% endblock %}
{% block content %}
<div class="page-content">
  <span class="center">
    {% if request.args.first_time %}
      <h1 class="center">Welcome to Tamermap.com!</h1>
      <p>Your new account is almost ready. Please reset your password below to get started.</p>
    {% else %}
      <h1 class="center">Reset Your Password</h1>
    {% endif %}
  </span>
  <div class="form-container">
    {% if reset_password_form.errors %}
      <div class="error-messages">
        <ul>
          {% for field, errors in reset_password_form.errors.items() %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form action="{{ request.path }}" method="POST">
      {{ reset_password_form.hidden_tag() }}
      <div>
          <label for="new-password">{{ reset_password_form.password.label.text }}</label>
          {{ reset_password_form.password(placeholder="Enter new password", id="new-password", pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).{8,}", title="Min 8 chars, include upper/lower and a number") }}
          <small class="text-muted">Min 8 characters with upper, lower, and a number.</small>
      </div>
      <div>
          <label for="confirm-new-password">{{ reset_password_form.password_confirm.label.text }}</label>
          {{ reset_password_form.password_confirm(placeholder="Confirm new password", id="confirm-new-password") }}
      </div>
      <button type="submit">Reset Password</button>
    </form>
    <div class="options">
      <a href="{{ url_for('security.login') }}">Back to Login</a>
    </div>
  </div>
</div>
{% endblock %}