{% extends "base.html" %}
{% block title %}Set Your Password - Tamermap.com{% endblock %}
{% block content %}
<div class="page-content">
  <h1 class="center">Set Your Password</h1>
  <div class="form-container">
    {% if form.errors %}
      <div class="error-messages">
        <ul>
          {% for field, errors in form.errors.items() %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form method="POST">
      {{ form.hidden_tag() }}
      <div>
        <label for="{{ form.password.id }}">{{ form.password.label.text }}</label>
        {{ form.password(placeholder="Enter your password", id=form.password.id) }}
      </div>
      <div>
        <label for="{{ form.password_confirm.id }}">{{ form.password_confirm.label.text }}</label>
        {{ form.password_confirm(placeholder="Confirm your password", id=form.password_confirm.id) }}
      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endblock %}
