{% extends "security/email/base_email.html" %}

{% block subject %}
TAMERMAP.COM Password Reset Instructions
{% endblock %}

{% block body %}
<p>Hello {{ user.first_name }} {{ user.last_name }},</p>

<p>We received a request to reset the password for your account at {{ config.SITE_NAME or "Tamermap.com" }}.</p>

<p>To reset your password, please click the link <a href="{{ reset_link }}">here</a>.</p>

<p>If you did not request this change, please ignore this email or contact our support team immediately.</p>

<p>Thank you,<br>
The {{ config.SITE_NAME or "TAMERMAP.COM" }} Team</p>
{% endblock %}
